<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IProcess">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProcess1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:12345/address1" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProcess" contract="SampleWcfService.IProcess"
                name="NetTcpBinding_IProcess">
                <identity>
                    <userPrincipalName value="NAGARRO\sachinkumar06" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>